@font-face {
	font-family: "Attemptyon-qvYx.ttf";
	src: url("../fonts/Attemptyon-qvYx.ttf")
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {   
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
@font-face {
	font-family: "GravtracCpRg-Bold";
	src: url("../fonts/gravtracCompressedBd.ttf")
}
.offWhiteColor {
	fill: #fffef4;
	color: #fffef4;
}
.offWhiteBGColor {
	background-color: #fffef4;
}
.turquoiseColor {
	fill: #30d5c8;
	color: #30d5c8;
}
.turquoiseBGColor {
	background-color: #30d5c8;
}
.softBlackColor {
	fill: #231f20;
	color: #231f20;
}
.softBlackColorStroke {
	stroke: #231f20;
}
.softBlackBGColor {
	background-color: #231f20;
}
.coralColor {
  fill: #D72B13;
  color: #D72B13;
}
.brandTitleFont {
	font-family: GravtracCpRg-Bold, Gravtrac;
}
section, figure, footer, div, li.bizProcessList ul, li.bizProcessList ul li {
  border-radius: 20px;
  box-shadow: 1px 1px 5px grey;
  padding: 0.5rem;
  margin: 0.5rem;
}
nav ul, .wideList, .bizProcessList ul {
  flex-direction: row;
}
.tagBlurbSctn {
  background-color: rgba(255, 254, 244, 0.95)
}
.tagBlurbSctn * {
  color: #231f20;
  text-shadow: none;
}
h1, h2, h3, h4, h5, h6, p, figcaption {
 	padding: 0.2rem;
	margin: 0.2rem;
}
figure img {
  height: 4rem;
  min-width: 4rem;
}
li, p {
  font-size: 1rem;
  padding: 0.15rem;
}
a {
  text-decoration: none;
  color: black;
  position: relative;
  bottom: 0rem;
  transition: bottom 0.25s;
  height: fit-content;
}
a:hover {
  bottom: 0.5rem;
}
body {
  font-family: 'roboto', sans-serif;
  font-size: 13pt;
  margin: 0;
  text-align: center;
  line-height: 1;
}
div.BGContainer {  
  position: fixed;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
  z-index: -999;
  background-image: url("../img/blueWoodBckgrnd.jpg");
  background-blend-mode:overlay,overlay,normal;
  background-repeat: no-repeat;
  background-size: cover;
}
header div {
  box-shadow: none;
}
figure {
  height: 6rem;
  width: min-content;
  font-size: 0.8em;
}
h6 {
 font-size: 1.15rem;
}
h5 {
 font-size: 1.25rem;
}
h4 {
 font-size: 1.3rem;
}
h3 {
 font-size: 1.4rem;
}
h2 {
 font-size: 1.5rem;
}
h1 {
 font-size: 2rem;
}
body * {
 color: white;
	text-shadow: 1px 1px black;
}
a {
 text-decoration: none;
}
a:hover {
	border-bottom: solid 3px white;
}
h1, h2, h3, h4, h5, h6, li, a, p, figcaption, span {
 	padding: 0.25em;
	margin: 0.25em;
}
h1, h2, h3, h4, h5, h6, span.siteName {
	font-family: GravtracCpRg-Bold, Gravtrac;
	font-size: 300%;
}
.hiddenHeaders {
 display: none;
}
header {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
div.socialMediaBar {
	display: none;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
ul.socialMediaList {
	width: 18em;
    height: 17em;
    background-image: url("../img/hangingWhiteSignC.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotateZ(-5deg);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: -10em;
}
img.SMIcon {
	height: 3em;
	margin-bottom: 1.5em;
}
span.siteName {
	font-size: 3em;
	margin: 0;
	padding: 0;
	grid-column-start: 2;
  	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: end;
	display: none;
}
.tagline {
	margin: 0;
	padding: 0;
	font-size: 200%;
	grid-column-start: 2;
  	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: start;
	line-height: 2em;
}
span.fullCircle {
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
p {
 	line-height: 1.5em;
	font-weight: light;
	margin: 1em;
	text-align: justify;
}
figure {
	max-width: 800px;
	border: solid 3px lightblue;
	border-radius: 20px;
	margin: 1em 1em 2em 1em;
}
figcaption {
	text-align: center;
	margin-bottom: 1em;
}
hr {
	width: 99%;
}
div.hamMenu {
	position: fixed;
	top: 0;
  left: 0;
  background: none;
  box-shadow: none;
}
div.hamMenu * {
  background: none;
  box-shadow: none;
  text-align: left;
  color: #231f20;
  text-shadow: none;
}
#hamMenuIcon {
  position: absolute;
  left: -8px;
  top: -8px;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 38px;
  border-radius: 5px;
  border: solid 10px rgb(222 54 54 / 0%);
  transition: border 0.25s;
}
#hamMenuIcon:hover {
    height: 29px;
    width: 37px;
    border-radius: 5px;
    /* border: solid 4px rgb(222 54 54 / 100%); */
    border: solid 4px rgba(255, 0, 0, 1);
}
#hamMenuList {
  position: fixed;
  top: -0.5em;
  left: -0.5rem;
	flex-direction: column;
  background-color: rgba(255, 254, 244, 0.95);
  border-radius: 0 0 20px 0;
  box-shadow: 1px 1px 5px grey;
  height: 75vh;
  padding: 0 1.5em;
  z-index: -1;
  border-top: solid dimgrey 43px;
}
#hamMenuList ul ul {
  margin: 0.25rem 0 0 1rem;
}
h1.hamHeader {
    text-align: center;
	color: #30d5c8;
	/* -webkit-text-stroke: 1px #231f20; */
}
div.hamMenuPre1stClick {
  display: none;
}
div.hamMenuVisible {
  display: flex;
  animation-name: fadeInWholeElement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 200;
}
div.hamMenuHidden {
  animation-name: fadeOutWholeElement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: -200;
}
div.hamMenuVisible a:hover {
  text-shadow: 0.5px 0.5px black;
}
#hamMenuIcon span {
  display: block;
  position: fixed;
  padding: 2px;
  min-width: 0px;
  width: 30px;
  background: #fffef4;
  border-radius: 9px;
  opacity: 1;
  left: 2px;
  z-index: 100;
}
#hamMenuIcon span:nth-child(1) {
  top: 2px;
}
#hamMenuIcon span:nth-child(2) {
  top: 12px;
}
#hamMenuIcon span:nth-child(3) {
  top: 22px;
}
span.hamLine1Opening {
	animation-name: hamOpenTop;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine1Closing {
	animation-name: hamCloseTop;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine2Opening {
	animation-name: hamOpenMiddle;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine2Closing {
	animation-name: hamCloseMiddle;
	animation-duration: 1s;
  animation-fill-mode: forwards;
}
span.hamLine3Opening {
	animation-name: hamOpenBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
span.hamLine3Closing {
	animation-name: hamCloseBottom;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes hamOpenTop {
    from { transform: translateY(0px) rotate(0deg); background-color: #fffef4;}
    to { transform: translateY(10px) rotate(135deg); background-color: red;}
}
@keyframes hamCloseTop {
    from { transform: translateY(10px) rotate(135deg); background-color: red;}
    to { transform: translateY(0px) rotate(0deg); background-color: #fffef4}
}
@keyframes hamOpenMiddle {
    0% {opacity:1; background-color: #fffef4;}
    100% {opacity:0; background-color: red;}
}
@keyframes hamCloseMiddle {
	0% {opacity:0; background-color: red;}
	100% {opacity:1; background-color: #fffef4;}
}
@keyframes hamOpenBottom {
    from { transform: translateY(0px) rotate(0deg); background-color: #fffef4;}
    to { transform: translateY(-10px) rotate(-135deg); background-color: red;}
}
@keyframes hamCloseBottom {
    from { transform: translateY(-10px) rotate(-135deg); background-color: red;}
    to { transform: translateY(0px) rotate(-0deg); background-color: #fffef4;}
}
@keyframes fadeInWholeElement {
    0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadeOutWholeElement {
    0% {opacity:1;}
    100% {opacity:0;}
}
.shopify-buy-frame--toggle * {
  background: #D72B13;
}
img {
  border-radius: 20px;
}